{:company/legal-name "GE HealthCare Technologies Inc."
 :company/lei "549300OI9J7XOWZMUN85"
 :company/jurisdiction "US-WI"
 :company/website "https://www.gehealthcare.com"
 :company/ticker "GEHC (Nasdaq)"}
